/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

/*
  Layout
*/

div.flows {
  div.left {
    position: relative;
    background-color: #273142;
    border-top: 1px solid #354155;
    min-width: 200px;
    max-width: 200px;

    button[color="primary"] {
      text-transform: uppercase;
      margin: 2rem;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        color: white;
        padding: 0.5rem 2rem;
        cursor: pointer;
        outline: none;
        font-weight: bold;
        transition: background-color 0.1s ease-out;

        &.active {
          background-color: $nav-active-color;
        }

        &:hover {
          background-color: rgba(57, 72, 99, 0.5);
        }
      }
    }
  }

  div.main {
    position: relative;
  }
}