<form #flowRunPayload="ngForm" (ngSubmit)="this.dialogRef.close(flowRunPayload.value)">
  <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    Trigger flow
    <mat-icon class="close" (click)="dialogRef.close(false)">close</mat-icon>
  </h1>

  <div mat-dialog-content fxLayout="column" class="full-width">
    <mat-form-field>
      <textarea matInput placeholder="Enter payload" type="text" name="payload" tabindex="1" ngModel required></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button type="button" (click)="dialogRef.close(false)" tabIndex="3">Cancel</button>
    <button mat-button type="submit" mat-raised-button class="mat-accent" tabIndex="2">Ok</button>
  </div>
</form>