<div class="full-height" fxLayout="row">
  <div class="right" fxLayout="column" fxFlex>
    <dkt-flow-step-config-nav [type]="flowsApp.stepTypeName" [current]="'test'" class="col-header"></dkt-flow-step-config-nav>

    <div class="padding">
      <dkt-step-test-result [type]="stepTestResultType" [data]="stepTestResultData" [show]="showTestResults"></dkt-step-test-result>

      <form *ngIf="step && !step.service.task" #testFlowForm="ngForm" (ngSubmit)="testStep(testFlowForm.value.payload)" class="step test">
        <mat-form-field class="full-width">
          <textarea matInput [ngModel]="samplePayload" #payload="ngModel" placeholder="Test data" type="text" name="payload" rows="10" required></textarea>
          <mat-hint *ngIf="payload.dirty && payload.errors?.required">Payload is required</mat-hint>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-button type="submit" [disabled]="testFlowForm.invalid" mat-raised-button class="mat-accent">Test</button>
        </div>
      </form>
      <p *ngIf="step && step.service.task" class="no-test-form" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon color="primary">info</mat-icon>
        This step does't need to be tested. Proceed by clicking on&nbsp;<b>Finish</b>.
      </p>

      <dkt-flow-step-nav-buttons 
        backPath="{{flowsApp.flowStepPath()}}/configure" backLabel="Back"
        continuePath="{{flowsApp.flowPath()}}" continueLabel="{{step?.tested || step?.service.task ? 'Finish' : 'Skip Test and Finish'}}"
        ></dkt-flow-step-nav-buttons>
    </div>
  </div>
</div>