<div class="full-height" fxLayout="row">
  <div class="right" fxLayout="column" fxFlex>
    <dkt-flow-step-config-nav [type]="flowsApp.stepTypeName" [current]="'test'" class="col-header"></dkt-flow-step-config-nav>

    <div class="padding">
      <form #testFlowForm="ngForm" (ngSubmit)="testStep(testFlowForm.value.payload)" class="step test">
        <md-input-container class="full-width">
          <textarea mdInput [ngModel]="samplePayload" #payload="ngModel" placeholder="Test data" type="text" name="payload" rows="10" required></textarea>
          <md-hint *ngIf="payload.dirty && payload.errors?.required">Payload is required</md-hint>
        </md-input-container>

        <div fxLayout="row" fxLayoutAlign="end center">
          <button md-button type="submit" [disabled]="testFlowForm.invalid" md-raised-button class="mat-accent">Test</button>
        </div>
      </form>

      <dkt-flow-step-nav-buttons 
        backPath="{{flowsApp.flowStepPath()}}/configure" backLabel="Back"
        continuePath="{{flowsApp.flowPath()}}" continueLabel="Finish"
        ></dkt-flow-step-nav-buttons>
    </div>
  </div>
</div>