<div class="full-height" layout="row">
  <div class="left" layout="column" flex>
    <dkt-flow-step-config-nav [type]="flowsApp.stepTypeName" [current]="'test'" class="col-header"></dkt-flow-step-config-nav>

    <div layout-padding>
      <div style="border:4px solid #eee; color:#ccc; padding:1rem; min-height:300px; margin-bottom:1rem;">[Test form]</div>

      <dkt-flow-step-nav-buttons 
        backPath="{{flowsApp.flowStepPath()}}/configure" backLabel="Back"
        continuePath="{{flowsApp.flowPath()}}" continueLabel="Finish"
        ></dkt-flow-step-nav-buttons>
    </div>
  </div>
</div>