<!-- <dkt-google-signin action="Sign up"></dkt-google-signin> -->

<!-- <div class="separator">Or</div> -->

<form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)" class="single-column">
  <mat-form-field>
    <input matInput placeholder="Username" type="text" [(ngModel)]="userData.username" name="username" ngModel #username="ngModel" required>
    <mat-hint *ngIf="username.dirty && username.errors?.required">Username is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="userData.password" name="password" ngModel #password="ngModel" required>
    <mat-hint *ngIf="password.dirty && password.errors?.required">Password is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm password" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" validateEqual="password" required>
    <mat-hint *ngIf="confirmPassword.dirty && confirmPassword.errors?.validateEqual">Passwords don't match</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" email [(ngModel)]="userData.email" name="email" ngModel #email="ngModel" required>
    <mat-hint *ngIf="email.dirty && email.errors?.email">Not a valid email address</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="First name" type="text" [(ngModel)]="userData.givenName" name="givenName" ngModel #givenName="ngModel" required>
    <mat-hint *ngIf="givenName.dirty && givenName.errors?.required">First name is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name" type="text" [(ngModel)]="userData.familyName" name="familyName" ngModel #familyName="ngModel" required>
    <mat-hint *ngIf="familyName.dirty && familyName.errors?.required">Last name is required</mat-hint>
  </mat-form-field>

  <button mat-button class="full-width margin-top" type="submit" [disabled]="signUpForm.invalid || busy" mat-raised-button color="primary">
    {{busy ? 'Signing up...' : 'Sign up'}}
  </button>
</form>
