<dkt-google-signin action="Sign up"></dkt-google-signin>

<div class="separator">Or</div>

<form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)" class="single-column">
  <md-input-container>
    <input mdInput placeholder="Username" type="text" [(ngModel)]="userData.username" name="username" ngModel #username="ngModel" required>
    <md-hint *ngIf="username.dirty && username.errors?.required">Username is required</md-hint>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Password" type="password" [(ngModel)]="userData.password" name="password" ngModel #password="ngModel" required>
    <md-hint *ngIf="password.dirty && password.errors?.required">Password is required</md-hint>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Confirm password" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" validateEqual="password" required>
    <md-hint *ngIf="confirmPassword.dirty && confirmPassword.errors?.validateEqual">Passwords don't match</md-hint>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Email" type="email" email [(ngModel)]="userData.email" name="email" ngModel #email="ngModel" required>
    <md-hint *ngIf="email.dirty && email.errors?.email">Not a valid email address</md-hint>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="First name" type="text" [(ngModel)]="userData.givenName" name="givenName" ngModel #givenName="ngModel" required>
    <md-hint *ngIf="givenName.dirty && givenName.errors?.required">First name is required</md-hint>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Last name" type="text" [(ngModel)]="userData.familyName" name="familyName" ngModel #familyName="ngModel" required>
    <md-hint *ngIf="familyName.dirty && familyName.errors?.required">Last name is required</md-hint>
  </md-input-container>

  <button md-button class="full-width margin-top" type="submit" [disabled]="signUpForm.invalid || busy" md-raised-button color="primary">
    {{busy ? 'Signing up...' : 'Sign up'}}
  </button>
</form>
