<form class="flow-settings" #flowSettingsForm="ngForm" (ngSubmit)="saveSettings(flowSettingsForm)">
  <h4 class="padding border-bottom">Flow settings</h4>

  <mat-tab-group mat-dynamic-height [selectedIndex]="selectedTabIndex">
    <mat-tab>
      <ng-template mat-tab-label>General</ng-template>

      <div fxLayout="column" class="padding border-bottom full-width">
        <mat-form-field>
          <input matInput placeholder="Name" type="text" name="name" tabindex="1" [ngModel]="flow.name" #name="ngModel" required>
          <mat-hint *ngIf="name.dirty && name.errors?.required">Name is required</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" type="text" name="description" tabindex="2" [ngModel]="flow.description" #description="ngModel" required></textarea>
          <mat-hint *ngIf="description.dirty && description.errors?.required">Description is required</mat-hint>
        </mat-form-field>

        <h6>Delete flow?</h6>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p class="warning" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="warn">warning</mat-icon>
            Are you sure you want to delete this flow?
          </p>

          <button type="button" (click)="deleteFlow()" mat-raised-button color="warn">Delete</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Triggering</ng-template>

      <div class="padding border-bottom">
        <mat-radio-group [ngModel]="flow.triggerType" name="triggerType">
          <mat-list>
            <mat-radio-button [value]="flowTriggerType.MANUAL" [checked]="isManual(flowSettingsForm)" labelPosition="before">
              <mat-list-item [class.selected]="isManual(flowSettingsForm)">
                  <mat-icon mat-list-icon>flash_on</mat-icon>
                  <h6 mat-line>Manual</h6>
                  <p mat-line>Explanatory text about this trigger type</p>
              </mat-list-item>
            </mat-radio-button>

            <mat-radio-button [value]="flowTriggerType.AUTOMATIC" [checked]="isAutomatic(flowSettingsForm)" *ngIf="isAutomaticEnabled()" labelPosition="before">
              <mat-list-item [class.selected]="isAutomatic(flowSettingsForm)">
                <mat-icon mat-list-icon>flash_auto</mat-icon>
                <h6 mat-line>Automatic</h6>
                <p mat-line>Explanatory text about this trigger type</p>
              </mat-list-item>
            </mat-radio-button>

            <mat-radio-button [value]="flowTriggerType.SCHEDULED" [checked]="isScheduled(flowSettingsForm)" labelPosition="before">
              <mat-list-item [class.selected]="isScheduled(flowSettingsForm)">
                <mat-icon mat-list-icon>schedule</mat-icon>
                <h6 mat-line>Scheduled</h6>
                <p mat-line>Explanatory text about this trigger type</p>
              </mat-list-item>
            </mat-radio-button>
          </mat-list>
        </mat-radio-group>

        <div [class.slide-in]="isScheduled(flowSettingsForm)" [class.slide-out]="!isScheduled(flowSettingsForm)" class="scheduling">
          <h6>Start at</h6>

          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field>
              <input matInput placeholder="Date" type="date" name="triggerDate" [(ngModel)]="triggerDate" #triggerDate_="ngModel"
                required>
              <mat-hint *ngIf="triggerDate_.dirty && triggerDate_.errors?.required">Start date is required</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Time" type="time" name="triggerTime" [(ngModel)]="triggerTime" #triggerTime_="ngModel"
                required>
              <mat-hint *ngIf="triggerTime_.dirty && triggerTime_.errors?.required">Start time is required</mat-hint>
            </mat-form-field>
          </div>

          <h6>Run every</h6>

          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field class="small">
              <input matInput type="number" min="1" name="triggerInterval" [(ngModel)]="triggerInterval" #triggerInterval_="ngModel"
                required>
              <mat-hint *ngIf="triggerInterval_.dirty && triggerInterval_.errors?.required">Interval is required</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="triggerIntervalType" name="triggerIntervalType">
                <mat-option [value]="intervalType.MINUTES">minutes</mat-option>
                <mat-option [value]="intervalType.HOURS">hours</mat-option>
                <mat-option [value]="intervalType.DAYS">days</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </div>

    </mat-tab>
  </mat-tab-group>

  <div class="buttons padding" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button type="button" [routerLink]="'/flows/' + flow.id" tabIndex="4">Cancel</button>
    <button mat-raised-button type="submit" [disabled]="flowSettingsForm.invalid" color="accent" tabIndex="3">Save</button>
  </div>

</form>
