/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

.flow-settings {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  background-color: white;
  border-radius: 5px;
  animation: FadeIn 0.2s;

  .padding {
    padding: 2rem;
  }

  .border-bottom {
    border-bottom: 1px solid #e0e0e0;
  }

  h4 {
    margin: 0;
  }

  md-icon,
  h6 {
    color: $dark-grey;
  }

  md-list-item {
    cursor: pointer;

    &:hover {
      md-icon,
      h6 {
        color: black;
      }
    }

    &.selected {
      md-icon,
      h6 {
        color: $blue;
      }
    }
  }

  div.scheduled-trigger-settings {
    width: 225px;
    margin: 0 0 0 65px;

    overflow-y: hidden;
    transition: all 0.3s ease-out;

    &.slide-in {
      max-height: 500px;
      animation: FadeIn 0.3s;
    }

    &.slide-out {
      max-height: 0px;
      animation: FadeOut 0.3s;
    }

    md-input-container {
      &:first-of-type {
        margin-right: 1rem;
      }

      &.small {
        width: 60px;
      }
    }

    md-select {
      margin-top: 7px;
    }
  }
}