<div *ngIf="state == states.NOT_STARTED">
  <button mat-raised-button color="primary" class="state" (click)="setState.emit(states.STARTED)">
    <mat-icon>play_arrow</mat-icon>
    <span fxHide.sm>Start</span>
  </button>
</div>
<div *ngIf="state == states.STARTED" fxLayout="row" fxLayoutAlign="start center">
  <button mat-raised-button color="primary" class="state" (click)="setState.emit(states.PAUSED)">
    <mat-icon>pause</mat-icon>
    <span fxHide.sm>Pause</span>
  </button>

  <button mat-raised-button color="primary" class="state" (click)="setState.emit(states.FINISHED)">
    <mat-icon>done_all</mat-icon>
    <span fxHide.sm>Finish</span>
  </button>
</div>
<div *ngIf="state == states.PAUSED" fxLayout="row" fxLayoutAlign="start center">
  <button mat-raised-button color="primary" class="state" (click)="setState.emit(states.STARTED)">
    <mat-icon>play_arrow</mat-icon>
    <span fxHide.sm>Resume</span>
  </button>

  <button mat-raised-button color="primary" class="state" (click)="setState.emit(states.FINISHED)">
    <mat-icon>done_all</mat-icon>
    <span fxHide.sm>Finish</span>
  </button>
</div>
<div *ngIf="state == states.FINISHED" class="finished" fxLayout="row" fxLayoutAlign="start center">
  <mat-icon>done_all</mat-icon>
  <span fxHide.sm>Finished</span>
</div>