/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

form.configuration,
div.connect-account > div {
  max-width: 570px;
}

div.connect-account {
  padding: 1rem;

  &.highlight {
    background-color: $warning-bg-color;
  }

  md-icon, span.name {
    color: $dark-grey;
  }

  md-icon {
    margin-right: 0.5rem;
  }

  span.name {
    font-size: 20px;
  }
}

form.configuration {
  p.no-config-form {
    margin: 2rem 0 3rem .5rem;

    md-icon {
      margin-right: 0.5rem;
    }
  }

  // Give these controls more vertical margin
  .control {
    margin-bottom: 1.5rem;
  }

  label:not(.mat-radio-label) {
    display: block;
    color: #999;
    font-size: 0.9rem;
  }

  label.mat-radio-label {
    margin-right: 1rem;
  }
}