<div class="full-height" fxLayout="row">
  <div class="left" fxLayout="column" fxFlex>
    <dkt-flow-step-config-nav [type]="flowsApp.stepTypeName" [current]="'configure'" class="col-header"></dkt-flow-step-config-nav>

    <div class="padding">
      <form *ngIf="formModel" [formGroup]="configForm" class="configuration">
        <div *ngIf="formModel.length">
          <dynamic-form-material-control *ngFor="let controlModel of formModel" 
            [controlGroup]="configForm"
            [model]="controlModel"
            (change)="saveForm($event)">
          </dynamic-form-material-control>
        </div>
        <!--TODO use new if/else template -->
        <p *ngIf="!formModel.length">Service has no configuration form.</p>

        <dkt-flow-step-nav-buttons 
          backPath="{{flowsApp.flowStepPath()}}/select-service" backLabel="Back"
          continuePath="{{flowsApp.flowStepPath()}}/test" continueLabel="Continue" [continueDisabled]="configForm.invalid"
          ></dkt-flow-step-nav-buttons>
      </form>
    </div>
  </div>
</div>