<div class="full-height" fxLayout="row">
  <div class="right" fxLayout="column" fxFlex>
    <dkt-flow-step-config-nav [type]="flowsApp.stepTypeName" [current]="'configure'" class="col-header"></dkt-flow-step-config-nav>

    <div class="connect-account" *ngIf="step" [class.highlight]="requireConnectAccount()">
      <div *ngIf="hasConnectedAccount()" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon [svgIcon]="accountsState.getAccountTypeIcon(step.account.accountType)"></mat-icon>
        <span class="name">{{accountsState.getAccountTypeName(step.account.accountType)}} account {{step.account.name}}</span>
        <button mat-raised-button (click)="openAccountDialog()">
          Change
        </button>
      </div>
      <div *ngIf="requireConnectAccount()" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon [svgIcon]="accountsState.getAccountTypeIcon(step.service.requiredAccountType)"></mat-icon>
        <span class="name">{{accountsState.getAccountTypeName(step.service.requiredAccountType)}} account</span>
        <button mat-raised-button color="primary" (click)="openAccountDialog()">
          Select
        </button>
      </div>
    </div>

    <div class="padding">
      <form *ngIf="formModel" [formGroup]="configForm" class="step configuration">
        <div *ngIf="formModel.length; else noConfigForm">
          <dynamic-form-material-control *ngFor="let controlModel of formModel" 
            [group]="configForm"
            [model]="controlModel">
          </dynamic-form-material-control>
        </div>
        <ng-template #noConfigForm>
          <p class="no-config-form" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="primary">info</mat-icon>
            This step does not require configuration. Proceed by clicking on&nbsp;<b>Continue</b>.
          </p>
        </ng-template>

        <dkt-flow-step-nav-buttons 
          backPath="{{flowsApp.flowStepPath()}}/select-service"
          backLabel="Back"
          [onContinue]="saveForm"
          continuePath="{{flowsApp.flowStepPath()}}/test"
          [continueLabel]="getContinueLabel()"
          [continueDisabled]="configForm.invalid || requireConnectAccount()"
          ></dkt-flow-step-nav-buttons>
      </form>
    </div>
  </div>
</div>