/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

/*
  Layout
*/

div.layout {
  .topbar-height {
    height: 32px;
  }

  div.sidebar-left, div.main, div.sidebar-right {
    background-color: #fafafa;
  }

  div.sidebar-left, div.sidebar-right {
    md-icon.option {
      color: $dark-grey;
      cursor: pointer;
      outline: none;
      margin-left: 5px;

      &:hover {
        color: $dark-blue;
      }
    }

    md-spinner {
      display: inline-block;
      width: 24px!important;
      height: 24px!important;
    }
  }

  div.sidebar-left {
    position: relative;
    max-width: 350px;
    transition: margin 0.2s ease-out;

    &.collapsed {
      margin-left: -350px;
    }
  }

  div.sidebar-left-collapsed {
    display:none;
    text-align: center;
    padding-top: 1rem;
    background-color: $dark-blue;
    cursor: pointer;
    max-width: 40px;

    &.expanded {
      display:inline-block;
    }
  }

  div.sidebar-right {
    position: relative;
    max-width: 350px;
    transition: margin 0.2s ease-out;

    .topbar-height {
      // TEMPORARY fix
      min-height: 61px;
    }

    &.collapsed {
      margin-right: -350px;
    }
  }
}

/*
  Sidebar Left Header
*/

h4.header {
  margin: 0;
  font-size: 20px;
}

h4 {
  span.tasks-count {
    margin-right: 1rem;
  }
}

span.tasks-count {
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1rem;
  line-height: 1rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  display: inline-block;
  color: $white;
  font-weight: 900;
  background-color: $blue;
}
