/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

/*
  Layout
*/

div.layout {
  .topbar-height {
    height: 32px;
  }

  div.sidebar-left, div.main, div.sidebar-right {
    background-color: #fafafa;
  }

  div.sidebar-left {
    position: relative;
    max-width: 350px;
    transition: margin 0.2s ease-out;

    &.collapsed {
      margin-left: -350px;
    }
  }

  div.sidebar-left-collapsed {
    display:none;
    text-align: center;
    padding-top: 1rem;
    background-color: $dark-blue;
    cursor: pointer;
    max-width: 40px;

    &.expanded {
      display:inline-block;
    }
  }

  div.sidebar-right {
    max-width: 350px;
  }
}

/*
  Header
*/

h4.tasks-app-header {
  margin: 0;
  font-size: 20px;

  span.tasks-count {
    margin-right: 1rem;
  }

  md-icon.close {
    color: $dark-grey;
    cursor: pointer;
  }
}

span.tasks-count {
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1rem;
  line-height: 1rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  display: inline-block;
  color: $white;
  font-weight: 900;
  background-color: $blue;
}
