<div class="layout full-height" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="sidebar-left border-right full-height" fxLayout="column" fxFlex>
    <!--<dkt-loading-indicator *ngIf="state.select('loadingTasks') | async" text="Loading tasks" center="true"></dkt-loading-indicator>-->

    <!-- Header-->
    <div class="padding border-bottom">
      <h4 class="tasks-app-header" fxLayout="row" fxLayoutAlign="start center">
        <span class="tasks-count">97</span>
        <span fxFlex>Tasks Remaining</span>
        <md-icon class="close">close</md-icon>
      </h4>
    </div>

    <!-- Filters -->
    <dkt-tasks-filter class="padding border-bottom"></dkt-tasks-filter>

    <!-- Tasks -->
    <div class="padding">
      <h5>In progress (4)</h5>
    </div>

    <div class="padding border-bottom">
      <dkt-task-item></dkt-task-item>
    </div>
    <div class="padding border-bottom">
      <dkt-task-item></dkt-task-item>
    </div>
    <div class="padding border-bottom">
      <dkt-task-item></dkt-task-item>
    </div>
    <div class="padding border-bottom">
      <dkt-task-item></dkt-task-item>
    </div>
    <div class="padding border-bottom">
      <dkt-task-item></dkt-task-item>
    </div>
    <div class="padding border-bottom">
      <dkt-task-item></dkt-task-item>
    </div>
  </div>

  <div class="main full-height" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
