<div class="layout full-height" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="sidebar-left border-right full-height" [class.collapsed]="leftCollapsed" fxLayout="column" fxFlex>

    <!-- Header-->
    <div class="padding border-bottom topbar-height">
      <h4 class="header" fxLayout="row" fxLayoutAlign="start center">
        <span class="tasks-count">{{tasksApp.tasks.length}}</span>
        <span fxFlex>Tasks Remaining</span>

        <md-spinner *ngIf="state.select('loadingTasks') | async"></md-spinner>
        <md-icon *ngIf="!(state.select('loadingTasks') | async)" class="option" (click)="reloadTasks()">refresh</md-icon>

        <md-icon class="option" (click)="leftCollapsed = true">close</md-icon>
      </h4>
    </div>

    <dkt-tasks-filter
      [sortingDir]="tasksApp.sortingDir"
      (setSortingDir)="tasksApp.setSortingDir($event)"
      [filters]="tasksApp.filters"
      [filtersList]="tasksApp.filtersList"
      (setFilter)="tasksApp.setFilter($event)"
      (unsetFilter)="tasksApp.unsetFilter($event)"
      (unsetAllFilters)="tasksApp.unsetAllFilters()"
      class="padding border-bottom"
    ></dkt-tasks-filter>
    <dkt-tasks-list [tasks]="tasksApp.tasks" [task]="tasksApp.task" [sortingDir]="tasksApp.sortingDir"></dkt-tasks-list>
  </div>

  <div class="sidebar-left-collapsed full-height" [class.expanded]="leftCollapsed" (click)="leftCollapsed = false">
    <span class="tasks-count">{{tasksApp.tasks.length}}</span>
  </div>

  <div class="main full-height" fxFlex>
    <p *ngIf="state.select('loadingTasks') | async" class="info">
      Loading tasks ...
    </p>
    <p *ngIf="!(state.select('loadingTasks') | async) && tasksApp.tasks.length && !tasksApp.task" class="info">
      Please select a task.
    </p>
    <p *ngIf="!(state.select('loadingTasks') | async) && !tasksApp.tasks.length" class="info">
      You have currently no tasks.
    </p>

    <dkt-task-controls *ngIf="tasksApp.task" class="padding border-bottom topbar-height" [tasks]="tasksApp.tasks" [task]="tasksApp.task" (setState)="state.setTaskState(tasksApp.task, $event)" flex></dkt-task-controls>

    <md-spinner *ngIf="state.select('loadingTaskItem') | async"></md-spinner>
    <dkt-render *ngIf="!(state.select('loadingTaskItem') | async) && tasksApp.taskItem" [data]="tasksApp.taskItem.data" [type]="getTaskItemType(tasksApp.taskItem)"></dkt-render>
  </div>

  <div class="sidebar-right border-left full-height" [class.collapsed]="rightCollapsed" fxFlex>
    <!-- Outlet for task description, comments -->
    <router-outlet></router-outlet>
  </div>
</div>
