<div class="service-detail"
  [@fadeInOut]="show"
  >
  <md-icon class="close" (click)="close()">close</md-icon>

  <div class="header" *ngIf="service">
    <div layout="row" layout-align="start center">
      <dkt-service-icon icon="{{service.icon}}"></dkt-service-icon>
      <div class="headlines" layout="column">
        <p class="name">{{service.name}}</p>
        <p class="group">{{service.group}}</p>
      </div>
    </div>
    <p class="description">{{service.description}}</p>
  </div>

  <md-tab-group *ngIf="service">
    <md-tab>
      <template md-tab-label>Triggers ({{triggerSteps.length}})</template>
      <template md-tab-content>
        <ul class="service-steps">
          <li 
            *ngFor="let serviceStep of triggerSteps"
            [class.selected]="serviceStep == selectedServiceStep"
            (click)="selectServiceStep(serviceStep)">
            <dkt-service-step-item [serviceStep]="serviceStep"></dkt-service-step-item>
          </li>
        </ul>
        <p *ngIf="triggerSteps.length == 0" class="no-steps">No triggers available.</p>
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>Actions ({{actionSteps.length}})</template>
      <template md-tab-content>
        <ul class="service-steps">
          <li
            *ngFor="let serviceStep of actionSteps"
            [class.selected]="serviceStep == selectedServiceStep"
            (click)="selectServiceStep(serviceStep)">
            <dkt-service-step-item [serviceStep]="serviceStep"></dkt-service-step-item>
          </li>
        </ul>
        <p *ngIf="actionSteps.length == 0" class="no-steps">No actions available.</p>
      </template>
    </md-tab>
  </md-tab-group>

</div>