/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

h1.step {
  color: indigo;
}

/*
  Layout
*/

div.layout {
  div.left {
    position: relative;
    min-width: 300px;
  }
}

/*
  Flow steps
*/

.steps {
  .step {
    margin-bottom:1rem;
  }
}
