<div class="layout full-height" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="sidebar-left border-right full-height">
    <dkt-loading-indicator *ngIf="state.select('loadingFlow') | async" text="Loading flow" center="true"></dkt-loading-indicator>
    <dkt-flow-header *ngIf="flowsApp.flow" 
      [flow]="flowsApp.flow"
      [disableDraftControls]="disableDraftControls"
      [disableDeployControl]="disableDeployControl()"
      (onTriggerFlowRun)="openTriggerFlowRunDialog()"
      (onSaveFlowDraft)="saveFlowDraft()"
      (onDiscardFlowDraft)="discardFlowDraft()"
      ></dkt-flow-header>

    <!-- Flow steps -->
    <div class="steps padding" *ngIf="flowsApp.flow">
      <div class="step" *ngFor="let step of flowsApp.flow.steps; let last = last" [class.last]="last" [class.selected]="isSelectedStep(step)">
        <div class="position size-30">{{step.position + 1}}</div>
        <dkt-flow-step-item [flow]="flowsApp.flow" [step]="step" [currentActive]="getCurrentActiveStepOption(step)"></dkt-flow-step-item>
        <button *ngIf="!last" md-icon-button class="add size-30" (click)="flowsApp.addFlowStep(step.position + 1)">
          <md-icon>add</md-icon>
          <span class="btn-label">Add step</span>
        </button>
      </div>

      <button md-icon-button class="add size-30" (click)="flowsApp.addFlowStep()">
        <md-icon>add</md-icon>
        <span class="btn-label">Add step</span>
      </button>
    </div>
  </div>

  <div class="main full-height" fxFlex>
    <dkt-status-message 
      [message]="flowsApp.statusMessageText"
      [type]="flowsApp.statusMessageType"
      [show]="flowsApp.statusMessageShow"
      (onClose)="flowsApp.hideStatusMessage()"
    ></dkt-status-message>
    <router-outlet></router-outlet>
  </div>
</div>
