/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

h1.step {
  color: indigo;
}

/*
  Layout
*/

div.layout {
  div.sidebar-left {
    position: relative;
    height: calc(100vh - #{$app-toolbar-height});
    // Min width required for inline confirm dialog (see flow-step-item)
    min-width: 350px;
    max-width: 350px;
  }

  div.sidebar-left, div.right {
    background-color: #fafafa;
  }
}

/*
  Flow steps
*/

$steps-line-color: white;
$steps-line-bg-color: #9f9f9f;
$step-item-control-top-margin: 0.5rem;

.steps {
  position: relative;
  padding-top: 1rem;
  // Stretch vertically and scroll
  overflow-y: auto;
  flex: 1 1 auto;

  .step {
    position: relative;
    margin-bottom:5rem;
    margin-left: 3rem;

    &:before {
      content: '';
      position: absolute;
      z-index:0;
      top: -1.5rem;
      bottom: -3.5rem;
      left: -2rem;
      width: 3px;
      background-color: $steps-line-bg-color;
    }

    &.last {
      margin-bottom:1.4rem;
    }

    .position, button.add {
      position:absolute;
      left: -3rem;
    }

    .position {
      top: $step-item-control-top-margin;
      background-color: $steps-line-bg-color;
      border-radius: 50%;
      text-align: center;
      color: $steps-line-color;
    }

    button.add {
      bottom: -3.5rem;
    }

    &.selected {
      .position {
        background-color: $active-color;
      }
    }
  }

  button.add {
    background-color: $steps-line-bg-color;

    md-icon {
      color: $steps-line-color;
    }

    span.btn-label {
      position: absolute;
      left: 3rem;
      color: $steps-line-bg-color;
    }

    &:hover {
      background-color: $primary-color;

      span.btn-label {
        color: $primary-color;
      }
    }
  }
}
