<div class="tasks-list">
  <div class="padding">
    <h5>In progress (4)</h5>
  </div>

  <div class="padding border-bottom">
    <dkt-task-item state="correct"></dkt-task-item>
  </div>
  <div class="padding border-bottom">
    <dkt-task-item state="approve"></dkt-task-item>
  </div>
  <div class="padding border-bottom">
    <dkt-task-item state="review"></dkt-task-item>
  </div>
  <div class="padding border-bottom">
    <dkt-task-item state="correct"></dkt-task-item>
  </div>

  <div class="padding">
    <h5>Everything else (2)</h5>
  </div>
  <div class="padding border-bottom">
    <dkt-task-item state="approve"></dkt-task-item>
  </div>
  <div class="padding border-bottom">
    <dkt-task-item state="review"></dkt-task-item>
  </div>
</div>