<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon [svgIcon]="state.getAccountTypeIcon(account.accountType)"></mat-icon>
  <span>{{getTitle()}}</span>
  <mat-icon class="close" (click)="dialogRef.close(false)">close</mat-icon>
</h1>

<!-- Select account -->
<div mat-dialog-content fxLayout="column" class="select" *ngIf="isSelectMode()">
  <p *ngIf="state.select('loadingAccounts') | async" class="info">Loading accounts ...</p>
  <div *ngIf="!(state.select('loadingAccounts') | async)">
    <div *ngIf="accounts.length">
      <mat-list class="accounts">
        <mat-list-item *ngFor="let account of accounts" class="account-list-item" [class.selected]="selectedAccount && selectedAccount.id == account.id"
          (click)="selectAccount(account)">
          <h5 mat-line>{{account.name}}</h5>
        </mat-list-item>
      </mat-list>

      <div *ngIf="!addNew" fxLayout="row" fxLayoutAlign="center center" class="margin-top">
        <button class="add" mat-icon-button type="button" (click)="addNew = true">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="!accounts.length">
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="info">
          You haven't connected any {{state.getAccountTypeName(requiredAccountType)}} accounts yet.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Create account -->
<form *ngIf="showCreate()" class="edit-account-form" #editAccountForm="ngForm" (ngSubmit)="submitForm(editAccountForm)">
  <div mat-dialog-content fxLayout="column" class="create">
    <h5 *ngIf="isSelectMode()">Connect an account</h5>

    <mat-form-field class="name">
      <input matInput placeholder="Name" type="text" name="name" tabindex="1" [ngModel]="account.name" #name="ngModel" required>
      <mat-hint *ngIf="name.dirty && name.errors?.required">Name is required</mat-hint>
    </mat-form-field>

    <h6>Credentials</h6>

    <div *ngIf="account.accountType === 'AWS'">
      <mat-form-field>
        <input matInput placeholder="AWS Access Key" type="text" name="accessKeyId" tabindex="2" ngModel #accessKeyId="ngModel" required>
        <mat-hint *ngIf="accessKeyId.dirty && accessKeyId.errors?.required">Access Key is required</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="AWS Secret Access Key" type="text" name="secretAccessKey" tabindex="3" ngModel #secretAccessKey="ngModel"
          required>
        <mat-hint *ngIf="secretAccessKey.dirty && secretAccessKey.errors?.required">Secret Access Key is required</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button type="button" (click)="dialogRef.close(false)" tabIndex="4">Cancel</button>
    <button mat-button type="submit" [disabled]="editAccountForm.invalid" mat-raised-button class="mat-accent" tabIndex="3">Save</button>
  </div>
</form>
