/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

div.render {
  div.data {
    font-family: 'Inconsolata', monospace;
  }

  div.text {
    font-family: "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    padding: 1em;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5em;
    color: #7F8FA4;
  }

  div.html {
    padding: 2rem;

    p.info {
      margin-top: 1rem;
    }
  }

  pre.json {
    font-family: monospace;
    margin:0;
  }
}