<div class="render">
  <div class="data">
    <div class="html" *ngIf="type == types.HTML" fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="showPopup()">
        <mat-icon>search</mat-icon>
        View result
      </button>
      <p class="info">Please make sure to <b>allow popups</b>.</p>
    </div>

    <pre class="json" *ngIf="type == types.JSON">{{this.renderData}}</pre>

    <div class="text" *ngIf="type == types.TEXT">{{this.renderData}}</div>

    <div class="text annotations" #annotations [hidden]="type != types.ANNOTATIONS"></div>
  </div>
</div>
