/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

div.step-test-result {
  transition: max-height 0.3s ease-out, margin-bottom 0.3s ease-out;
  border: 1px solid $element-border-color;
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;

  &.slide-in {
    max-height: 300px;
    margin-bottom: 1rem;
  }

  &.slide-out {
    max-height: 0px;
    margin-bottom: 0;
    border:0;
  }

  .header, .data {
    padding: 1rem;
  }

  .header {
    border-bottom: 1px solid $element-border-color;
    font-size: 1.2em;
    flex: 0 1 auto;
  }

  div.data {
    overflow-y: auto;
    flex: 1 1 auto;
  }
}