<!-- <dkt-google-signin action="Log in"></dkt-google-signin> -->

<!-- <div class="separator">Or</div> -->

<form #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)" class="single-column">
  <mat-form-field>
    <input matInput placeholder="Username" type="text" [(ngModel)]="userData.username" name="username" ngModel #username="ngModel" required>
    <mat-hint *ngIf="username.dirty && username.errors?.required">Username is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="userData.password" name="password" ngModel #password="ngModel" required>
    <mat-hint *ngIf="password.dirty && password.errors?.required">Password is required</mat-hint>
  </mat-form-field>

  <button mat-button class="full-width margin-top" type="button" [hidden]="userData.username.length == 0" [disabled]="busyPassword" (click)="onForgotPassword(signInForm)">
    {{busyPassword ? 'Please wait...' : 'Forgot your password?'}}
  </button>

  <button mat-button class="full-width margin-top" type="submit" [disabled]="signInForm.invalid || busy" mat-raised-button color="primary">
    {{busy ? 'Signing in...' : 'Sign in'}}
  </button>
</form>
