<div class="flow-header">
  <div class="padding">
    <h4 class="name" fxLayout="row" fxLayoutAlign="start start">
      <span fxFlex>{{flow.name}}</span>
      <button mat-icon-button class="settings control" [routerLink]="'/flows/' + flow.id + '/settings'" [routerLinkActive]="['active']">
        <mat-icon>settings</mat-icon>
      </button>
    </h4>

    <div class="trigger-setting" [ngSwitch]="flow.triggerType" [routerLink]="'/flows/' + flow.id + '/settings/triggering'">
      <p *ngSwitchCase="flowTriggerType.MANUAL" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>flash_on</mat-icon>
        <span>Manual trigger</span>
      </p>
      <p *ngSwitchCase="flowTriggerType.AUTOMATIC" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>flash_auto</mat-icon>
        <span>Automatic trigger</span>
      </p>
      <p *ngSwitchCase="flowTriggerType.SCHEDULED" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>schedule</mat-icon>
        <span>Scheduled</span>
      </p>
    </div>

    <p class="description">{{truncate(flow.description)}}</p>
  </div>

  <div [class.slide-in]="flow.draft" [class.slide-out]="!flow.draft" class="draft controls" [class.highlight]="!disableDraftControls && !disableDeployControl">
    <div class="inner">
      <button mat-raised-button color="primary" class="save" (click)="onSaveFlowDraft.emit()" [disabled]="disableDraftControls || disableDeployControl">
        <mat-icon>publish</mat-icon>
        Deploy
      </button>
      <span>or</span>
      <button mat-raised-button class="discard" (click)="onDiscardFlowDraft.emit()" [disabled]="disableDraftControls">
        discard
      </button>
      <span>changes</span>
    </div>
  </div>

  <div class="flow controls" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="element">
      <button mat-icon-button class="play" [class.locked]="isManualFlowRunLocked()" [disabled]="isManualFlowRunLocked()" (click)="onTriggerFlowRun.emit()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>

    <div class="element activate" fxLayout="row" fxLayoutAlign="start center">
      <span class="text">Activate</span>

      <button mat-button class="toggle-active" [class.active]="flow.active" [class.locked]="isManualFlowRunLocked()" [disabled]="isManualFlowRunLocked()" (click)="state.toggleFlowActivation(flow)">
        <span class="on">ON</span>
        <span class="off">OFF</span>
      </button>
    </div>

    <!-- <div class="element"> -->
      <!-- clone flow -->
    <!-- </div> -->

    <div class="element" fxFlex>
      <button mat-icon-button class="logs control" [routerLink]="'/flows/' + flow.id + '/logs'" [routerLinkActive]="['active']">
        <mat-icon>restore</mat-icon>
      </button>
    </div>

    <!-- <div class="element"> -->
      <!-- share flow -->
    <!-- </div> -->

  </div>
</div>