/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

h4 {
  margin: 0 0 1rem 0;
}

p {
  font-size: 1rem;
  color: $secondary-text-color;
  margin-bottom: 1rem;
}

$border: 1px solid #eee;

div.controls {
  border-top: $border;
  border-bottom: $border;
  padding: 0 1rem;

  &.draft {
    background-color: $warning-bg-color;
    border-bottom:none;

    & > * {
      margin-top:0.5rem;
      margin-bottom:0.5rem;
    }

    overflow-y: hidden;
    transition: all 0.3s ease-in;

    &.slide-in {
      max-height: 100px;
    }

    &.slide-out {
      max-height: 0px;
      border-top: 0;
    }

    span {
      margin:0.5rem;
    }
  }

  &.flow {
    background-color: $element-bg-color;
    div.element {
      display:inline-block;

      // &:not(:first-child) {
      //   padding-left: 10px;
      // }

      &:not(:last-child) {
        padding-right: 10px;
        border-right: $border;
      }

      button.play {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 5px 0;
        background-color: $primary-color;

        md-icon {
          font-size: 20px;
          color: $element-bg-color;
        }

        &.locked {
          background-color: $inactive-button-color;
        }
      }

      button:not(.play) {
        color: $dark-grey;

        &:hover {
          color: $dark-blue;
        }
      }

      button.active {
        color: $blue;
      }
    }
  }
}
