/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

div.flow-header {
  flex: 0 1 auto;

  button.control {
    color: $dark-grey;

    &:hover {
      color: $dark-blue;
    }

    &.active {
      color: $blue;
    }
  }

  div.trigger-setting {
    display:inline-block;
    cursor: pointer;
    outline: none;

    p, p mat-icon {
      color: $blue!important;
    }

    p {
      margin: 0;

      mat-icon {
        margin-right: 0.5rem;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  h4.name {
    margin: 0;
  }

  p.description {
    font-size: 1rem;
    color: $secondary-text-color;
    margin: 0.5rem 0;
  }
}

$border: 1px solid rgb(224, 224, 224);

div.controls {
  border-top: $border;
  border-bottom: $border;

  &.draft {
    border-top:none;
    border-bottom:none;

    &.highlight {
      background-color: $warning-bg-color;
    }

    div.inner {
      margin: 1rem;
    }

    overflow-y: hidden;
    transition: all 0.3s ease-in;

    &.slide-in {
      max-height: 100px;
    }

    &.slide-out {
      max-height: 0px;
      border-top: 0;
    }

    span {
      margin:0.5rem;
    }
  }

  &.flow {
    background-color: $element-bg-color;
    div.element {
      padding: 0.5rem 1rem;

      // &:not(:first-child) {
      //   padding-left: 10px;
      // }

      &:not(:last-child) {
        border-right: $border;
      }

      button.play {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 5px 0;
        background-color: $primary-color;

        mat-icon {
          font-size: 20px;
          color: $element-bg-color;
        }
      }

      button.locked {
        background-color: $inactive-button-color;
      }

      &.activate {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        span.text {
          padding-right: 0.7rem;
          color: $dark-grey;
          font-weight: bold;
        }
      }
    }
  }
}
