<p *ngIf="state.select('loadingAccounts') | async" class="info">Loading accounts ...</p>
<div *ngIf="state.accounts$ | async as accounts">
  <div *ngIf="accounts.data.length; else noAccounts">
    <mat-list class="accounts">
      <mat-list-item *ngFor="let account of accounts.data" class="account-list-item">
        <mat-icon mat-list-icon [svgIcon]="state.getAccountTypeIcon(account.accountType)"></mat-icon>
        <h5 mat-line>{{account.name}}</h5>
        <button mat-icon-button (click)="openEditAccountDialog(account)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteAccountDialog(account)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #noAccounts>
    <div fxLayout="column" fxLayoutAlign="center center">
      <p class="info">
        You haven't connected any accounts yet.
      </p>
    </div>
  </ng-template>

  <div class="new">
    <h4>Connect an account</h4>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngFor="let account of state.accountTypes" (click)="openNewAccountDialog(account.accountType)" class="account-type" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon [svgIcon]="account.icon"></mat-icon>
        <span>{{account.name}}</span>
      </div>

      <div class="account-type dummy"></div>
      <div class="account-type dummy"></div>
      <div class="account-type dummy"></div>
      <div class="account-type dummy"></div>
      <div class="account-type dummy"></div>
    </div>
  </div>
</div>