<p class="instructions">Please enter the verification code below, along with the new password you would like to use.</p>

<form #updatePasswordForm="ngForm" (ngSubmit)="onUpdatePassword(updatePasswordForm)" class="single-column">
  <md-input-container>
    <input mdInput placeholder="Verification code" type="text" [(ngModel)]="formData.verificationCode" name="verificationCode" ngModel #verificationCode="ngModel" required>
    <md-hint *ngIf="verificationCode.dirty && verificationCode.errors?.required">Verification code is required</md-hint>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="New password" type="password" [(ngModel)]="formData.password" name="password" ngModel #password="ngModel" required>
    <md-hint *ngIf="password.dirty && password.errors?.required">Password is required</md-hint>
  </md-input-container>

  <button md-button class="full-width margin-top" type="submit" [disabled]="updatePasswordForm.invalid || busy" md-raised-button color="primary">
    {{busy ? 'Changing password...' : 'Change password'}}
  </button>
</form>
