<p class="instructions">Please enter the verification code below, along with the new password you would like to use.</p>

<form #updatePasswordForm="ngForm" (ngSubmit)="onUpdatePassword(updatePasswordForm)" class="single-column">
  <mat-form-field>
    <input matInput placeholder="Verification code" type="text" [(ngModel)]="formData.verificationCode" name="verificationCode" ngModel #verificationCode="ngModel" required>
    <mat-hint *ngIf="verificationCode.dirty && verificationCode.errors?.required">Verification code is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="New password" type="password" [(ngModel)]="formData.password" name="password" ngModel #password="ngModel" required>
    <mat-hint *ngIf="password.dirty && password.errors?.required">Password is required</mat-hint>
  </mat-form-field>

  <button mat-button class="full-width margin-top" type="submit" [disabled]="updatePasswordForm.invalid || busy" mat-raised-button color="primary">
    {{busy ? 'Changing password...' : 'Change password'}}
  </button>
</form>
