<div class="layout" layout="row" layout-align="left center">
  <div class="left" layout="column" flex="30" layout-padding>
    <dkt-flow-header [flow]="flows.flow$ | async"></dkt-flow-header>
    <!-- debug:
      <pre>{{(flows.flow$ | async) | json}}
    </pre>-->

    <!-- Flow steps -->
    <div class="steps">
      <div class="step" *ngFor="let step of (flows.flow$ | async)?.steps">
        <dkt-flow-step-item [step]="step"></dkt-flow-step-item>
      </div>
    </div>
  </div>

  <div class="center" layout="column" flex="40" layout-align="left">
    <div class="col-header"></div>

    <dkt-services></dkt-services>
  </div>

  <div class="right" layout="column" flex>
    <dkt-flow-step-config-nav [type]="'Trigger'" [current]="'select'" class="col-header"></dkt-flow-step-config-nav>
    <div layout-padding>
      <!--
        TODO -> get the current selected service step
        <dkt-service-step-item [serviceStep]="serviceStep"></dkt-service-step-item>-->
      <dkt-flow-step-nav-buttons></dkt-flow-step-nav-buttons>
    </div>
  </div>
</div>
