<div class="full-height" layout="row">
  <div class="left border-right" layout="column" flex>
    <div class="col-header"></div>

    <dkt-services [selectableServiceStepType]="selectableServiceStepType"></dkt-services>
  </div>

  <div class="right" 
    *ngIf="selectedServiceStep"
    [@flyInOut]="selectedServiceStep"
    layout="column">
    <dkt-flow-step-config-nav [type]="'Trigger'" [current]="'select'" class="col-header"></dkt-flow-step-config-nav>
    <div layout-padding>
      <div class="selected-service-step">
        <dkt-service-step-item [serviceStep]="selectedServiceStep"></dkt-service-step-item>
      </div>
      <dkt-flow-step-nav-buttons 
        cancelPath="{{flowsApp.flowPath()}}"
        continuePath="{{flowsApp.flowStepPath()}}/configure"
        ></dkt-flow-step-nav-buttons>
    </div>
  </div>
</div>