@import './variables';

/*
  Labels
 */

.label {
  border-radius: 3px;
  padding: 3px 0.5rem;
  text-transform: uppercase;
  margin-right: 1rem;
  font-size:0.8rem;
  font-weight: bold;
  background-color: #e6e6e6;
  color: #666;

  &.error {
    background-color: $error-bg-color;
    color: white;
  }
}

/*
  Info box
 */

.info-box {
  width: 300px;
  padding: 3rem;
  background-color: #fff;
  // Grey 100
  border:1px solid $element-border-color;
  border-radius: 4px;

  h6.message {
    margin: 1rem 0;
    line-height: 1.3rem;
    text-align: center;
  }

  md-icon {
    color: white;
  }

  md-icon.box-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 50px;
    background-color: $dkt-blue;
    padding: 10px;
    margin-bottom: 1rem;
  }
}

/*
  App loading spinner
*/

#app-loading-spinner,
#app-loading-spinner:after {
  border-radius: 50%;
}

#app-loading-spinner {
  width: 44px;
  height: 44px;
  font-size: 6px;
  margin-left:-22px;
  margin-top:-22px;

  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $dkt-blue;
  border-right: 1.1em solid $dkt-blue;
  border-bottom: 1.1em solid $dkt-blue;
  border-left: 1.1em solid #ccc;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spin 1.1s infinite linear;
  animation: spin 1.1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}