$layout-border-color: #eee;

/*
  Layout
*/

div.layout {
  .col-header {
    border-bottom: 1px solid $layout-border-color;
    height:4rem;
  }
}

div.full-height, div.full-height > div {
  min-height:100%;
}

div.border-left {
  border-right: 1px solid $layout-border-color;
}
