$layout-border-color: #eee;

/*
  Layout
*/

div.layout {
  .col-header {
    border-bottom: 1px solid $layout-border-color;
    height:4rem;
  }
}

.padding {
  padding:1em;
}

div.full-height, div.full-height > div {
  height:100%;
}

.full-width, .full-width > md-input-container {
  width: 100%;
}

div.border-right {
  border-right: 1px solid $layout-border-color;
}

.centered {
  position:absolute!important;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

/*
  Forms layout
*/

form.single-column {
  .mat-input-container {
    width:100%;
  }
}