$layout-border-color: #eee;

/*
  Layout
*/

div.layout {
  .col-header {
    border-bottom: 1px solid $layout-border-color;
    height:4rem;
  }

}

.padding {
  padding:1em;
}

// Make container elements grow to full height
.full-height, body, dkt-app, ng-component, router-outlet + * {
  display: flex;
  flex-direction: column;
  flex:1;
}

.full-width, .full-width > mat-form-field {
  width: 100%;
}

div.border-right {
  border-right: 1px solid $layout-border-color;
}

div.border-left {
  border-left: 1px solid $layout-border-color;
}

.centered {
  position:absolute!important;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.border-bottom {
  border-bottom: 1px solid;
  border-color: $element-border-color;
}

/*
  Forms layout
*/

form.single-column {
  .mat-form-field {
    width:100%;
  }
}