/* 
  --- Global styles ------------------------------------------------------------
*/

$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;

/*
  Colors
*/

$dkt-blue: #2196F3;
$warning-color: #D35847;

// Grey 100
$element-bg-color: #F5F5F5;
$element-hover-color: #F5F5F5;
$element-selected-color: #EEEEEE;
$element-border-color: #EEEEEE;

$active-color: #38BA24;
// Grey 500
$inactive-color: #9E9E9E;
// Grey 300
$inactive-bg-color: #E0E0E0; 
// Grey 500
$secondary-text-color: #9E9E9E;

// Blue 500
$provider-icon-color: $dkt-blue;

// Blue A200
$active-button-color: #1A91EB;
// Grey 300
$inactive-button-color: #E0E0E0;

// Green A700
$success-bg-color: $active-color;
$error-bg-color: $warning-color;

/*
  --- Flows app ----------------------------------------------------------------
*/

