@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* 
  --- Global styles ------------------------------------------------------------
*/

$primary-font: "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;

/*
  Colors
*/

// Style guide colors
$white: #fff;
$light-blue: #E8F4FD;
$dark-blue: #273142;
$dark-grey: #7F8FA4;
$grey: #E6EAEE;
$light-grey: #EFF3F6;
$blue: #2196F3;
$green: #38BA24;
$red: #D35847;
$amber: #FAC83D;
$mint: #74C7A8;
$pink: #FFA2AD;
$purple: #8781BD;

$primary-color: $blue;
$warning-color: $red;
$active-color: $green;

$success-bg-color: $active-color;
$error-bg-color: $warning-color;
$warning-bg-color: #fff3cd;

// Grey 300
$inactive-button-color: #E0E0E0;

$element-bg-color: #F5F5F5;
$element-hover-color: #F5F5F5;
$element-selected-color: $light-blue;
$element-border-color: $grey;

$list-item-border-color: #E6EAEE;
$list-item-hover-bg-color: #f7f7f7;

// Grey 500
$inactive-color: #c4c4c4;
// Grey 300
$inactive-bg-color: #E0E0E0; 
// Grey 500
$secondary-text-color: #9E9E9E;

// Blue 500
$provider-icon-color: $primary-color;

/*
  --- Flows app ----------------------------------------------------------------
*/

