$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;

/*
  Colors
*/

/* Grey 100 */
$element-bg-color: #F5F5F5;
$element-hover-color: #F5F5F5;
$element-selected-color: #EEEEEE;

/* Grey 500 */
$inactive-color: #9E9E9E;
/* Green A700  */
$success-color: #00C853;
/* Grey 500 */
$secondary-text-color: #BDBDBD;

// Blue 500
$service-icon-color: #2196F3;
