// using Modernizer CSS classes to detect if browser supports the W3C Touch Events API
:host-context(.mod-touchevents) [md-button]:hover::after, [md-icon-button]:hover::after {
    content: none;
}

#app {
  height: 100%;

  .md-sidenav-content {
    // Make the content stretch to full height
    display:flex;
    flex-direction:column;
  }

  #app-toolbar {
    background-color: rgb(39, 49, 65);
  }
}
