// using Modernizer CSS classes to detect if browser supports the W3C Touch Events API
:host-context(.mod-touchevents) [md-button]:hover::after, [md-icon-button]:hover::after {
    content: none;
}

#app-body {
  min-height: 100%;
  height:100%;
}

#app-toolbar {
  background-color: rgb(39, 49, 65);
}