@import 'variables';

// Fix buttons that should hide when [hidden]="true"
.mat-button[hidden],
.mat-fab[hidden],
.mat-icon-button[hidden],
.mat-mini-fab[hidden],
.mat-raised-button[hidden] {
  display: none;
}

// Blue radio buttons
.mat-radio-checked .mat-radio-outer-circle {
  border-color: $blue;
}
.mat-radio-checked .mat-radio-inner-circle {
  background-color: $blue;
}
.mat-radio-ripple .mat-ripple-element {
  background-color: $blue-semitransparent;
}

.mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: white;
}

.mat-form-field-underline {
  background-color: rgba(0,0,0,0.12);
}

.mat-dialog-content {
  padding: 0px!important;
  margin: 0px!important;
}

@media only screen and (max-width: 600px) {
  // Don't shrink toolbar but keep a steady height
  .mat-toolbar {
    min-height: $app-toolbar-height!important;
  }
}