/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';

div.provider-detail {
  position: absolute;
  top: 2rem;
  // See fadeInOut states: translateX(-50%) 
  left: 50%;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  padding: 1rem;

  border: 1px solid #eee;
  background-color: #fff;

  mat-icon.close {
    position:absolute;
    top: 1rem;
    right: 1rem;

    font-size: .9rem;
    width: .9rem;
    height: .9rem;
    font-weight: bold;
    color: #999;
    cursor: pointer;
  }

  div.header {
    div.headlines {
      margin-left: .5rem;

      p {
        margin-bottom: 0;
      }

      p.group {
        color: $secondary-text-color;
        margin-top: -5px;
      }
    }

    p.description {
      margin: 0.5rem 0;
    }
  }

  ul.service-steps {
    padding:0;
    margin:0px;

    li {
      list-style: none;
      padding: 1rem;
      cursor: pointer;
      font-size: .9em;

      &:hover {
        background-color: $element-hover-color;
      }

      &.selected {
        background-color: $element-selected-color;
      }
    }
  }

  p.no-steps {
    padding: 1rem 0;
    color: $inactive-color;
  }
}