<div class="provider-detail"
  [@fadeInOut]="dialogState"
  >
  <mat-icon class="close" (click)="close()">close</mat-icon>

  <div class="header" *ngIf="provider">
    <div fxLayout="row" fxLayoutAlign="start center">
      <dkt-provider-icon icon="{{provider.icon}}"></dkt-provider-icon>
      <div class="headlines" fxLayout="column">
        <h5 class="name">{{provider.name}}</h5>
        <p class="group">{{provider.group ? provider.group : '[group]'}}</p>
      </div>
    </div>
    <p class="description">{{provider.description}}</p>
  </div>

  <mat-tab-group *ngIf="provider" [selectedIndex]="selectedTabIndex" mat-dynamic-height>
    <mat-tab>
      <ng-template mat-tab-label>Triggers ({{triggerServices.length}})</ng-template>
      <ul class="service-steps">
        <li 
          *ngFor="let service of triggerServices"
          [class.selected]="selectedService && service.id === selectedService.id"
          (click)="selectService(service)">
          <dkt-service-item [service]="service"></dkt-service-item>
        </li>
      </ul>
      <p *ngIf="triggerServices.length == 0" class="no-steps">No triggers available.</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Actions ({{actionServices.length}})</ng-template>
      <ul class="service-steps">
        <li
          *ngFor="let service of actionServices"
          [class.selected]="selectedService && service.id === selectedService.id"
          (click)="selectService(service)">
          <dkt-service-item [service]="service"></dkt-service-item>
        </li>
      </ul>
      <p *ngIf="actionServices.length == 0" class="no-steps">No actions available.</p>
    </mat-tab>
  </mat-tab-group>

</div>