<div class="providers">
  <div *ngIf="state.select('loadingProviders') | async" class="padding" fxLayout="row" fxLayoutAlign="center center">
    <dkt-loading-indicator text="Loading providers" center="true"></dkt-loading-indicator>
  </div>

  <dkt-provider-item
    class="provider-item"
    *ngFor="let provider of providers"
    [provider]="provider"
    [isSelected]="provider == selectedProvider"
    (onSelectProvider)="selectProvider($event.provider)">
  </dkt-provider-item>
  <dkt-provider-detail
    [provider]="selectedProvider"
    [selectedService]="selectedService"
    [selectableServiceType]="selectableServiceType"
    (onSelectService)="changeService($event.service)">
  </dkt-provider-detail>
</div>