<div class="providers" fxLayout="row" fxLayoutAlign="start center">
  <div class="padding" fxLayout="row" fxLayoutAlign="center center">
    <dkt-loading-indicator *ngIf="state.select('loadingProviders') | async" text="Loading providers" center="true"></dkt-loading-indicator>
  </div>

  <dkt-provider-item
    *ngFor="let provider of providers" 
    [provider]="provider"
    [isSelected]="provider == selectedProvider"
    (onSelectProvider)="selectProvider($event.provider)">
  </dkt-provider-item>
  <dkt-provider-detail
    [provider]="selectedProvider"
    [selectedService]="selectedService"
    [selectableServiceType]="selectableServiceType"
    (onSelectService)="changeService($event.service)">
  </dkt-provider-detail>
</div>