/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

$list-container-width: 900px;

/*
  Layout
*/

div.flows-list {
  div.left {
    position: relative;
    background-color: #273142;
    border-top: 1px solid #354155;
    padding: 2rem;
    min-width: 130px;
    max-width: 130px;

    button[color="primary"] {
      text-transform: uppercase;
    }
  }

  div.main {
    position: relative;
  }

  p.info {
    text-align: center;
    margin: 5rem 0 1.5rem;
    font-size: 1.3rem!important;
  }
}

/*
 Options
 */

div.flows-list div.options {
  border-bottom: 1px solid $element-border-color;
  background-color: white;

  div.inner {
    width: 100%;
    max-width: $list-container-width;
    margin: 0 auto;
    padding: 1rem 4rem;
  }

  md-input-container.search {
    width: 200px;

    div.mat-input-wrapper {
      margin: 0;
    }

    div.mat-input-suffix md-icon {
      color: $dark-grey;
    }
  }

  md-icon.option {
    color: $dark-grey;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $dark-blue;
    }
  }

  md-spinner {
    display: inline-block;
    width: 24px!important;
    height: 24px!important;
  }
}

/*
 Flows list
 */

md-list.flows {
  width: 100%;
  margin: 0 auto;
  max-width: $list-container-width;
  padding: 2rem;
  box-sizing: border-box;
}

md-list.flows .flow-list-item {
  margin: 0 0 1rem 0;
  padding: 0.5em 0em 0.5em 0.5em;
  border: 1px solid $list-item-border-color;
  border-left-width:5px;
  border-radius: 3px;
  cursor:default;
  background-color: white;

  &:hover {
    background-color:$list-item-hover-bg-color;
  }

  .mat-list-text {
    padding:0!important;
  }

  div.seperator {
    min-width: 1px!important;
    max-width: 1px!important;
    height: 100%!important;
    background-color: $list-item-border-color;
    border-radius: 0!important;
    padding:0!important;
    margin: 0 1rem!important;
  }

  div.steps-summary {
    width: 250px;

    md-icon.chevron {
      color: #999;
    }

    md-icon[aria-label='flash_on'] {
      color: #ccc;
      border: 2px dashed #ccc;
      border-radius: 50%;
      font-size: 19px;
      width: 19px;
      height: 19px;
      padding: 2.5px;
    }

    div.steps-count {
      display: inline-block;
      border: 2px solid $list-item-border-color;
      border-radius: 50%;
      color: #666;
      font-weight: bold;
      text-align: center;
      font-size:1rem;
      min-width: 28px!important;
      max-width: 28px!important;
      min-height: 28px!important;
      max-height: 28px!important;
      line-height: 28px;
      padding: 0;
    }
  }

  .label {
    display: inline-block;
    border-radius: 3px;
    padding: 3px 0.5rem;
    text-transform: uppercase;
    margin-right: 1rem;
    font-size:0.8rem;
    font-weight: bold;
    background-color: #e6e6e6;
    color: #666;

    &.error {
      background-color: $error-bg-color;
      color: white;
    }
  }

  md-icon.option:hover {
    cursor: pointer;
  }
}

/*
  Options menu
*/

div.flow-list-item-options {
  button.delete, button.delete .mat-icon {
    color: $warning-color;
  }
}
