/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../animations';

/*
  Layout
*/

div.layout {
  div.left {
    position: relative;
    background-color: #273142;
    border-top: 1px solid #354155;
    padding: 2rem;
  }
}

/*
 Flows list
 */

md-list {
  width: 100%;
  max-width: 900px;
  margin: 2rem;
  padding-top:0px;
}

$list-item-color: #e6e6e6;

md-list-item {
  margin: 0 0 1rem 0;
  border: 1px solid $list-item-color;
  border-left-width:5px;
  border-radius: 3px;
  cursor:default;
  animation: FadeIn 0.3s;

  md-icon:hover {
    cursor: pointer;
  }

  md-icon {
    margin-left:1rem;
  }

  &:hover {
    background-color:$list-item-color;
  }
}
