<div class="flows-list full-height">
  <div class="options">
    <div class="inner" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="search">
        <input matInput placeholder="Search" type="text">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  
      <div class="loader">
        <mat-spinner *ngIf="state.select('loadingFlows') | async"></mat-spinner>
        <mat-icon *ngIf="!(state.select('loadingFlows') | async)" class="option" (click)="reloadFlows()">refresh</mat-icon>
      </div>
    </div>
  </div>

  <p *ngIf="state.select('loadingFlows') | async" class="info">Loading flows ...</p>
  <div *ngIf="!(state.select('loadingFlows') | async) && state.flows$ | async as flows">
    <mat-list class="flows" *ngIf="flows.data.length; else noFlows">
      <mat-list-item *ngFor="let flow of flows.data" class="flow-list-item">
        <div mat-list-icon class="steps-summary" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon class="first-step">{{getFirstStepIcon(flow)}}</mat-icon>
  
          <mat-icon *ngIf="flow.steps.length > 2" class="chevron">chevron_right</mat-icon>
          <div *ngIf="flow.steps.length > 2" class="steps-count">{{flow.steps.length - 2}}</div>
  
          <mat-icon class="chevron">chevron_right</mat-icon>
          <mat-icon class="last-step">{{getLastStepIcon(flow)}}</mat-icon>
        </div>
  
        <div *ngIf="!flowHelpers.flowIsInDraft(flow)" mat-list-icon class="seperator"></div>
  
        <div mat-list-icon *ngIf="!flowHelpers.flowIsInDraft(flow)" class="trigger-type" [ngSwitch]="flow.triggerType">
          <mat-icon *ngSwitchCase="flowTriggerType.MANUAL" matTooltip="Set to trigger manually">flash_on</mat-icon>
          <mat-icon *ngSwitchCase="flowTriggerType.AUTOMATIC" matTooltip="Set to trigger automatically">flash_auto</mat-icon>
          <mat-icon *ngSwitchCase="flowTriggerType.SCHEDULED" matTooltip="Scheduled to trigger">schedule</mat-icon>
        </div>
  
        <div class="seperator" mat-list-icon></div>
  
        <h6 mat-line>
          <div *ngIf="flowHelpers.flowHasError(flow)" class="label error">error</div>
          <div *ngIf="flowHelpers.flowIsInDraft(flow)" class="label draft">draft</div>
          {{flow.name}}
        </h6>
  
        <div *ngIf="!flowHelpers.flowIsInDraft(flow)" class="seperator"></div>
  
        <button *ngIf="!flowHelpers.flowIsInDraft(flow)" mat-button class="toggle-active" [class.active]="flow.active" (click)="state.toggleFlowActivation(flow)">
          <span class="on">ON</span>
          <span class="off">OFF</span>
        </button>
  
        <div class="seperator"></div>
  
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #optionsMenu="matMenu" class="flow-list-item-options">
          <button mat-menu-item routerLink="/flows/{{flow.id}}">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item routerLink="/flows/{{flow.id}}/logs">
            <mat-icon>restore</mat-icon>
            <span>View logs</span>
          </button>
          <button mat-menu-item class="delete" (click)="openDeleteFlowDialog(flow.id, flow.name)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
    <ng-template #noFlows>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="info">
          You don't have any flows yet.
        </p>
        <button mat-raised-button (click)="openNewFlowDialog()">
          <span>Create your first flow</span>
        </button>
      </div>
    </ng-template>
  </div>
</div>
