/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../animations';

/*
  Layout
*/

div.layout {
  div.left {
    position: relative;
    background-color: #273142;
    border-top: 1px solid #354155;
    padding: 2rem;
  }
}

/*
 Flows list
 */

md-card {
  width: 400px;
  margin: 2em auto;
  padding: 0px;
}

md-list {
  padding-top:0px;
}

md-list-item{
  cursor:default;
  animation: FadeIn 0.3s;
  
  md-icon:hover {
    cursor: pointer;
  }

  &:hover {
    background-color:#eee;
  }
}
