<div class="layout full-height" fxLayout="row" fxLayoutAlign="start start">
  <div class="left border-right padding" fxLayout="column">
    <button md-raised-button (click)="openNewFlowDialog()"><md-icon>add</md-icon> create flow</button>
  </div>

  <div class="main" fxFlex>
    <dkt-loading-indicator *ngIf="state.select('loadingFlows') | async" text="Loading flows"></dkt-loading-indicator>

    <md-list>
      <md-list-item *ngFor="let flow of state.flows$ | async" class="padding">
        <h3 md-line>{{flow.name}}</h3>
        <md-icon routerLink="/flows/{{flow.id}}">edit</md-icon>
        <md-icon (click)="openDeleteFlowDialog(flow.id, flow.name)">delete</md-icon>
      </md-list-item>
    </md-list>
  </div>
</div>
