/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

#flow-logs {
  max-width: 700px;
  min-width: 370px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  h4 {
    margin: 0;
  }

  .header {
    mat-icon {
      color: $dark-grey;
      cursor: pointer;
      outline: none;
      margin-left: 5px;

      &:hover {
        color: $dark-blue;
      }
    }

    div.filters {
      margin: 0 1rem;

      a {
        color: $dark-grey;
        margin: 0 0.5rem;

        &:hover {
          color: $blue;
        }

        &.active {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }

  mat-accordion.runs {
    padding-top: 0;
    margin: 1rem;
    cursor: default;
    // background-color: white;
    animation: FadeIn 0.2s;

    mat-expansion-panel.run {
      div.run-header {
        cursor: pointer;

        mat-icon.status {
          margin-right: 1rem;

          &.running {
            animation: Spin 1.2s infinite linear;
            color: $blue;
          }

          &.task {
            color: $dark-grey;
          }

          &.success {
            color: $success-bg-color;
          }

          &.error {
            color: $error-bg-color;
          }
        }
      }

      div.run-details {
        div.step-service,
        p.last-log-msg {
          margin: 1rem;
        }

        div.step-service {
          mat-icon {
            margin-right: 1rem;
          }

          mat-icon,
          h6 {
            color: $dark-grey;
          }
        }
      }
    }
  }

  div.nav {
    button {
      margin: 0 0.5em;
      mat-icon {
        color: $dark-grey;
      }
    }
  }

  p.info {
    text-align: center;
    margin: 5rem 0 1.5rem;
    font-size: 1.3rem!important;
  }
}

@keyframes Spin {
  100% {
    transform: rotate(360deg);
  }
}
