/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

#flow-logs {
  margin: 1rem;

  h4 {
    margin: 0;
  }

  .header {
    md-icon {
      color: $dark-grey;
      cursor: pointer;
      outline: none;
      margin-left: 5px;

      &:hover {
        color: $dark-blue;
      }
    }

    div.filters {
      margin: 0 1rem;

      a {
        color: $dark-grey;
        margin: 0 0.5rem;

        &:hover {
          color: $blue;
        }

        &.active {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  
    md-spinner {
      display: inline-block;
      width: 24px!important;
      height: 24px!important;
    } 
  }

  div.runs {
    padding-top: 0;
    margin: 1rem 0;
    border: 1px solid $list-item-border-color;
    border-radius: 3px;
    cursor:default;
    background-color: white;
    animation: FadeIn 0.2s;

    div.run {
      border-bottom: 1px solid $list-item-border-color;

      &.last {
        border-bottom: none;
      }

      md-icon.show-less {
        display: none;
      }

      &.show-details {
        md-icon.show-more {
          display: none;
        }

        md-icon.show-less {
          display: flex;
        }

        div.run-header {
          background-color: $light-blue;
        }

        div.run-details {
          max-height: 400px;
        }
      }

      div.run-header {
        cursor: pointer;

        & > * {
          margin: 1rem;
        }

        md-icon.status {
          &.running {
            animation: Spin 1.2s infinite linear;
            color: $blue;
          }

          &.task {
            color: $dark-grey;
          }

          &.success {
            color: $success-bg-color;
          }

          &.error {
            color: $error-bg-color;
          }
        }

        md-icon.toggle {
          color: $dark-grey;
        }

        &:hover {
          background-color: $list-item-hover-bg-color;

          md-icon.toggle {
            color: $dark-blue;
          }
        }
      }

      div.run-details {
        overflow-y: hidden;
        transition: max-height 0.3s ease-in;
        max-height: 0px;

        // &.slide-in {
        //   max-height: 400px;
        // }

        // &.slide-out {
        //   max-height: 0px;
        // }
      }
    }
  }

  div.nav {
    button {
      margin: 0 0.5em;
      md-icon {
        color: $dark-grey;
      }
    }
  }

  p.no-runs {
    margin: 3rem 0;
  }
}

@keyframes Spin {
  100% {
    transform: rotate(360deg);
  }
}
