<div id="flow-logs">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h4>Logs</h4>

    <div class="filters" fxLayout="row" fxLayoutAlign="center center">
      <a [routerLink]="'/flows/' + flowId + '/logs'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">All</a>
      <a [routerLink]="'/flows/' + flowId + '/logs/success'" [routerLinkActive]="['active']">Success</a>
      <a [routerLink]="'/flows/' + flowId + '/logs/running'" [routerLinkActive]="['active']">Running</a>
      <a [routerLink]="'/flows/' + flowId + '/logs/error'" [routerLinkActive]="['active']">Error</a>
    </div>

    <div>
      <mat-spinner *ngIf="state.select('loadingFlowLogs') | async"></mat-spinner>
      <mat-icon *ngIf="!(state.select('loadingFlowLogs') | async)" (click)="reloadLogs()">refresh</mat-icon>
      <mat-icon class="close" [routerLink]="'/flows/' + flowId">close</mat-icon>
    </div>
  </div>

  <p *ngIf="state.select('loadingFlowLogs') | async" class="info">Loading logs ...</p>
  <div *ngIf="!(state.select('loadingFlowLogs') | async)">
    <div *ngIf="runs && runs.length; else noRuns">
      <mat-accordion class="runs">
        <mat-expansion-panel *ngFor="let run of runs; let last = last" class="run" [ngSwitch]="getRunStatusType(run)">
          <mat-expansion-panel-header>
            <div class="run-header" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon *ngSwitchCase="'running'" class="status running" mat-list-icon>autorenew</mat-icon>
              <mat-icon *ngSwitchCase="'task'" class="status task" mat-list-icon>assignment</mat-icon>
              <mat-icon *ngSwitchCase="'success'" class="status success" mat-list-icon>check</mat-icon>
              <mat-icon *ngSwitchCase="'error'" class="status error" mat-list-icon>error</mat-icon>

              <h6 class="date" fxFlex mat-line>{{run.startedAt | date:'dd.MM.yy HH:mm'}}</h6>
            </div>
          </mat-expansion-panel-header>
          <div class="run-details">
            <div class="step-service" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>{{run.currentStep.service.provider.icon}}</mat-icon>
              <h6>{{run.currentStep.service.provider.name}}: {{run.currentStep.service.name}}</h6>
            </div>
    
            <p class="last-log-msg">Last log message: {{getLastLogMsg(run)}}</p>
            <dkt-step-config-summary [schema]="run.currentStep.service.configSchema" [values]="run.currentStep.configParams"></dkt-step-config-summary>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="nav" fxLayout="row" fxLayoutAlign="center center">
        <button [style.visibility]="offset > 0 ? 'visible' : 'hidden'" mat-raised-button (click)="fetchMoreLogs(offset - limit)">
          <mat-icon>keyboard_arrow_left</mat-icon>
          Newer
        </button>
        <button [style.visibility]="(runsCount > (offset + limit)) ? 'visible' : 'hidden'" mat-raised-button (click)="fetchMoreLogs(offset + limit)">
          Older
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <ng-template #noRuns>
      <p class="info" fxLayout="row" fxLayoutAlign="center center">
        No logs found.
      </p>
    </ng-template>
  </div>
</div>