/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';


/*
  Layout
*/

div.right {
  width: 350px;
}

/*
 Selection
*/

.selected-service-step {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $element-selected-color;
}