<div class="full-height" fxLayout="row">
  <div class="left border-right" fxLayout="column" fxFlex>
    <div class="col-header"></div>

    <dkt-providers [selectableServiceType]="selectableServiceType" (onChangeService)="changedSelectedService = true"></dkt-providers>
  </div>

  <div class="right"
    *ngIf="selectedService"
    [@flyInOut]="selectedService"
    fxLayout="column">
    <dkt-flow-step-config-nav [type]="flowsApp.stepTypeName" [current]="'select'" class="col-header"></dkt-flow-step-config-nav>
    <div class="padding">
      <div class="selected-service-step">
        <dkt-service-item [service]="selectedService"></dkt-service-item>
      </div>
      <dkt-flow-step-nav-buttons 
        backPath="{{flowsApp.flowPath()}}" backLabel="Cancel"
        continuePath="{{flowsApp.flowStepPath()}}/configure" continueLabel="{{changedSelectedService ? 'Save and continue' : 'Continue'}}"
        (onContinue)="onContinue()"
        ></dkt-flow-step-nav-buttons>
    </div>
  </div>
</div>