.loading-indicator {
  position:absolute;
  left:50%;
  top: 2rem;
  transform: translateX(-50%);

  md-spinner {
    display: inline-block;
    width: 20px!important;
    height: 20px!important;
  }

  span {
    margin-left:0.5rem;
    color: #BDBDBD;
    white-space: nowrap;
  }
}
