.loading-indicator {
  &.center {
    position:absolute;
    left:50%;
    top: 2rem;
    transform: translateX(-50%);
  }

  span {
    margin-left:0.5rem;
    color: #BDBDBD;
    white-space: nowrap;
  }
}
