.loading-indicator {
  position:absolute;
  left:50%;
  top: .7rem;
  transform: translateX(-50%);

  md-spinner {
    width: 20px!important;
    height: 20px!important;
  }

  span {
    margin-left:0.5rem;
    color: #BDBDBD;
  }
}
