<div class="status-message"
  [class.loading]="type == 'loading'"
  [class.success]="type == 'success'"
  [class.error]="type == 'error'"
  [class.slide-in]="show"
  [class.slide-out]="!show">
  <div class="content" fxLayout="row" fxLayoutAlign="space-between center">
    <dkt-loading-indicator *ngIf="type == 'loading'" [text]="message"></dkt-loading-indicator>
    <div *ngIf="type != 'loading'" class="message" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon *ngIf="type == 'success'">check_circle</mat-icon>
      <mat-icon *ngIf="type == 'error'">error</mat-icon>
      <span>{{message}}</span>
    </div>
    <button mat-icon-button  (click)="onClose.emit()">
      <mat-icon class="close">close</mat-icon>
    </button>
  </div>
</div>