<div class="status-message"
  [class.loading]="type == 'loading'"
  [class.success]="type == 'success'"
  [class.error]="type == 'error'"
  [class.slide-in]="show"
  [class.slide-out]="!show">
  <div class="content" fxLayout="row" fxLayoutAlign="space-between center">
    <dkt-loading-indicator *ngIf="type == 'loading'" [text]="message"></dkt-loading-indicator>
    <span *ngIf="type != 'loading'">{{message}}</span>
    <button md-icon-button  (click)="onClose.emit()">
      <md-icon class="close">close</md-icon>
    </button>
  </div>
</div>