<h1 md-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <md-icon [svgIcon]="state.getAccountTypeIcon(account.accountType)"></md-icon>
  <span>Delete account</span>
  <md-icon class="close" (click)="dialogRef.close(false)">close</md-icon>
</h1>

<div md-dialog-content fxLayout="column">
  <p class="name">{{account.name}}</p>
  <p class="warning" fxLayout="row" fxLayoutAlign="start center">
    <md-icon color="warn">warning</md-icon>
    Are you sure you want to delete this account?
  </p>
</div>

<div md-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button md-button (click)="dialogRef.close(false)" tabindex="2">Cancel</button>
  <button md-button (click)="dialogRef.close(true)" tabindex="1" cdk-focus-start md-raised-button class="md-warn">Delete</button>
</div>