<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  Delete flow
  <mat-icon class="close" (click)="dialogRef.close(false)">close</mat-icon>
</h1>

<div mat-dialog-content fxLayout="column">
  <p class="name">{{name}}</p>
  <p class="warning" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon color="warn">warning</mat-icon>
    Are you sure you want to delete this flow?
  </p>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button (click)="dialogRef.close(false)" tabindex="2">Cancel</button>
  <button mat-button (click)="dialogRef.close(true)" tabindex="1" cdk-focus-start mat-raised-button class="mat-warn">Delete</button>
</div>
