<div id="flow-home" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="infoBoxMessage != null" class="info-box centered" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon *ngIf="infoBoxIcon == 'flow'" class="box-icon" svgIcon="flow"></mat-icon>
    <mat-icon *ngIf="infoBoxIcon != 'flow'" class="box-icon">{{infoBoxIcon}}</mat-icon>
    <p class="message">{{infoBoxMessage}}</p>

    <button (click)="infoBoxAction()" mat-raised-button color="primary">
      <mat-icon *ngIf="infoBoxActionIcon && infoBoxActionIcon == 'flow'" class="action-icon" svgIcon="flow"></mat-icon>
      <mat-icon *ngIf="infoBoxActionIcon && infoBoxActionIcon != 'flow'" class="action-icon">{{infoBoxActionIcon}}</mat-icon>
      {{infoBoxActionLabel}}
    </button>
  </div>
</div>