<p class="instructions">Please check your e-mail and enter your registration code.</p>

<form #confirmSignUpForm="ngForm" class="single-column">
  <mat-form-field>
    <input matInput placeholder="Code" type="text" [(ngModel)]="registrationCode.code" name="code" ngModel #code="ngModel" required>
    <mat-hint *ngIf="code.dirty && code.errors?.required">Registration code is required</mat-hint>
  </mat-form-field>

  <button mat-button class="full-width margin-top" type="submit" [disabled]="confirmSignUpForm.invalid || busy" (click)="onConfirmSignUp(confirmSignUpForm)" mat-raised-button color="primary">
    {{busy ? 'Verifying...' : 'Confirm sign up'}}
  </button>
</form>
