<div class="task-controls" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="nav" fxLayout="row" fxLayoutAlign="center center">
    <button md-raised-button [disabled]="!getPrevTask()" (click)="tasksApp.goToTaskRoute(getPrevTask())">
      <md-icon>chevron_left</md-icon>
    </button>
    <button md-raised-button [disabled]="!getNextTask()" (click)="tasksApp.goToTaskRoute(getNextTask())">
      <md-icon>chevron_right</md-icon>
    </button>

    <span class="position">{{getCurrentTaskIndex() + 1}} of {{tasks.length}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" [ngSwitch]="getStateType()">
    <h5 class="task-title">{{task.title}}</h5>
    <dkt-task-controls-review *ngSwitchCase="stateType.REVIEW" [state]="task.state" (setState)="setState.emit($event)"></dkt-task-controls-review>
    <dkt-task-controls-approve *ngSwitchCase="stateType.APPROVE" [state]="task.state" (setState)="setState.emit($event)"></dkt-task-controls-approve>
    <dkt-task-controls-transitional *ngSwitchCase="stateType.TRANSITIONAL" [state]="task.state" (setState)="setState.emit($event)"></dkt-task-controls-transitional>
  </div>

  <div class="icons" fxLayout="row" fxLayoutAlign="center center">
    <md-icon [routerLink]="'/tasks/' + task.id + '/comments'" [class.active]="tasksApp.currentTaskRoute === 'comments'">comment</md-icon>
    <md-icon [routerLink]="'/tasks/' + task.id + '/description'" [class.active]="tasksApp.currentTaskRoute === 'description'">assignment</md-icon>
  </div>
</div>