/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

md-list.accounts {
  padding: 0px;

  md-list-item.account-list-item {
    margin-bottom: 1px;
    background-color: $dark-grey;
    border-left: 5px solid $dark-grey;

    h5 {
      color: white;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:hover,
    &.selected {
      cursor: pointer;
      border-left: 5px solid $dark-blue;
    }
  }
}

p.info {
  text-align: center;
  margin: 3rem 0 3rem;
  font-size: 1.3rem!important;
}
