<md-menu #userMenu="mdMenu" yPosition="below">
  <button md-menu-item (click)="signOut()">
    <md-icon>exit_to_app</md-icon>
    <span>Log out</span>
  </button>
</md-menu>

<button md-button [mdMenuTriggerFor]="userMenu">
  <img *ngIf="getAvatar(); else userAvatar" class="avatar" [src]="getAvatar()" alt="">
  <ng-template #userAvatar>
    <md-icon>account_circle</md-icon>
  </ng-template>

  <span class="username" fxHide.sm>{{getUsername()}}</span>
  <md-icon>keyboard_arrow_down</md-icon>
</button>