<mat-menu #userMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="signOut()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log out</span>
  </button>
  <button mat-menu-item (click)="goTo('api-info')">
    <mat-icon>info</mat-icon>
    <span>API info</span>
  </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="userMenu">
  <img *ngIf="getAvatar(); else userAvatar" class="avatar" [src]="getAvatar()" alt="">
  <ng-template #userAvatar>
    <mat-icon class="account">account_circle</mat-icon>
  </ng-template>

  <span class="username" fxHide.xs>{{getUsername()}}</span>
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>