/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

.main-nav {
  a {
    $border-radius: 4px;
    $border-color: $nav-active-color;
    $border: 1px solid $border-color;

    display: inline-block;
    border: $border;
    border-right: none;
    padding: 4px 15px;
    font-size: 11px;
    color: #7F8FA4;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.1s ease-out;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-right: $border;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:hover, &.active {
      background-color: $border-color;
      color:white;
    }

    mat-icon {
      margin-right:5px;
    }
  }
}