/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../app/variables';

.service-item {
  padding:2em;
  margin:1em;
  cursor: pointer;

  &:hover {
    background-color: $element-hover-color;
  }

  &.selected {
    background-color: $element-selected-color;
  }

  p {
    text-align: center;
  }
}
