/* TODO relative paths are bad. find a way to import variables globally:
https://github.com/jtangelder/sass-loader/issues/211 */
@import '../../../variables';
@import '../../../animations';

.flow-step-item {
  padding: 0px;

  .header, .options {
    md-icon {
      margin: .8rem;
      text-align: center;
    }

    p {
      display: inline-block;
      margin-bottom:0px;
    }
  }

  .header {
    md-icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .options {
    padding-left:0px;
    margin-top: 0px;
    padding-top:.4rem;
    padding-bottom:.4rem;
    background-color: $element-bg-color;

    li {
      list-style: none;

      md-icon {
        font-size: .9rem;
        width: 1.5rem;
        height: .9rem;
        margin-top: .4rem;
        margin-bottom: .4rem;
      }

      p {
        display:inline-block;
        font-size: 12px;

        a {
          color: inherit;
          // Enlarge link height to make link easier to click
          padding: 6px 0;
        }
      }

      &:not(.locked) p:hover {
        cursor: pointer;
      }

      /*
        Status classes
      */

      &.active,
      &:not(.locked):not(.remove) p:hover {
        color: $active-color;
      }

      &.locked {
        color: $inactive-color;
      }

      &.remove:not(.showingConfirmDialog) p:hover {
        color: $warning-color;
      }

      /* 
        Inline confirm dialog
      */

      &.showingConfirmDialog {
        .confirm-dialog {
          [md-button] {
            font-size:12px;
            padding: 0px 5px;
            line-height: 22px;
            min-width: initial;
          }

          [md-button]:last-child {
            margin-right: 5px;
          }
        }

        &.remove {
          md-icon,
          .confirm-dialog span.sure {
              color: $warning-color;
          }
        }
      }
    }
  }
}