<mat-card class="flow-step-item">
  <mat-card-content>
    <div class="header" [class.highlight]="highlight">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>{{headerIcon}}</mat-icon>
        <h6>{{headerTitle}}</h6>
      </div>
    </div>
    <ul class="options">
      <li *ngFor="let option of options" [ngClass]="option.classes" [class.showingConfirmDialog]="showConfirmDialog">
        <p routerLinkActive="active-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>{{option.icon}}</mat-icon>
          <span *ngIf="!option.link && !option.action && !option.confirmAction">{{option.title}}</span>
          <a *ngIf="option.link" [routerLink]="option.link">{{option.title}}</a>
          <span *ngIf="option.action" class="action" (click)="option.action()">{{option.title}}</span>

          <!-- Inline confirm dialog -->
          <span *ngIf="option.confirmAction && !showConfirmDialog" class="action" (click)="showConfirmDialog = !showConfirmDialog">{{option.title}}</span>
          <span *ngIf="option.confirmAction && showConfirmDialog" class="confirm-dialog">
            <span class="sure" (click)="showConfirmDialog = !showConfirmDialog">Are you sure?</span>
            <a mat-button (click)="option.confirmAction()" class="yes">{{option.confirmYesLabel}}</a>
            <a mat-button (click)="showConfirmDialog = !showConfirmDialog" class="no">{{option.confirmNoLabel}}</a>
          </span>
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
